body, html{

	background-color:black;
}
nav{
	width:80%;
	margin:0px auto;
}
 section{
	
	width:80%;
	margin:0px auto;
	
}

section img{

	width: 242px;
	height: 161px;
}

footer ul li a{

	white-space: nowrap;
}
